<header class="fixed top-0 w-full z-5 font-light">
  <nav class="flex justify-between items-center px-6 py-4 text-sm max-w-6xl mx-auto font-light">
    <div class="hidden md:flex flex-row gap-8 justify-start">
      <a routerLink="/la-porra" class="inline-block hover:underline">HAZ TU PORRA</a>
      <a routerLink="/combates" class="inline-block hover:underline">VER COMBATES</a>
    </div>
    <div class="hidden md:flex flex-row justify-end">
      <span class="inline-block hover:underline hover:cursor-pointer">COMPRA LAS ENTRADAS</span>
    </div>
  </nav>
</header>