<div class="flex flex-col justify-start items-center">
  <div class="w-full bg-black/40 rounded-xl p-3 overflow-y-hidden">
    <div class="opacity-0 grid text-center mb-5 animate-slide-up-fade animate-delay-200">
      <div class="flex flex-col justify-center">
        <h3 class=" text-[var(--color-theme-seashell)]">{{fighter.realName.toUpperCase()}}</h3>
      </div>
    </div>
    <div class="opacity-0 grid grid-cols-2 text-center mb-5 animate-slide-up-fade animate-delay-300">
      <div class="flex flex-col justify-center">
        <h3 class=" text-gray-400">edad</h3>
        <h3 class=" text-[var(--color-theme-seashell)]">{{fighter.age}} años</h3>
      </div>
      <div class="flex flex-col justify-center">
        <h3 class=" text-gray-400">altura</h3>
        <h3 class=" text-[var(--color-theme-seashell)]">{{fighter.height}} m</h3>
      </div>
    </div>
    <div class="opacity-0 grid grid-cols-2 text-center mb-5 animate-slide-up-fade animate-delay-400">
      <div class="flex flex-col justify-center">
        <h3 class=" text-gray-400">peso</h3>
        <h3 class=" text-[var(--color-theme-seashell)]">{{fighter.weight}} kg</h3>
      </div>
      <div class="flex flex-col justify-center">
        <h3 class=" text-gray-400">ciudad</h3>
        <h3 class=" text-[var(--color-theme-seashell)]">{{fighter.city?.toLowerCase()}}</h3>
      </div>
    </div>
    <div class="opacity-0 grid grid-cols-2 text-center mb-5 animate-slide-up-fade animate-delay-500">
      <div class="flex flex-col justify-center">
        <h3 class=" text-gray-400">fecha de nacimiento</h3>
        <h3 class=" text-[var(--color-theme-seashell)]">{{dateToString(fighter.birthDate)}}</h3>
      </div>
      <div class="flex flex-col justify-center items-center">
        <img src="/images/flags/{{ fighter.country }}.webp" alt="bandera" class="w-20">
      </div>
    </div>
    <hr class="mb-3">
    <div class="opacity-0 grid text-center animate-slide-up-fade animate-delay-700">
      <div class="flex flex-col justify-center">
        <div class="flex gap-5 justify-center items-center flex-wrap">
          <a *ngFor="let social of fighter.socials" href="{{social.url}}" target="_blank"
            class="w-9 hover:scale-115 transition-transform">
            <icon-svg [name]="social.id" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>