<div id="card-combate">
  <div class="relative overflow-hidden">
    <!-- Capa de fondo con máscara -->
    <div class="absolute inset-0 z-0">
      <div class="w-full h-full bg-pink-400/50 relative mask-fade-top blur border-2 border-pink-600">
      </div>
    </div>
  
    <!-- Contenido encima -->
    <div class="relative flex justify-between items-center">
      <div class="w-[40%] flex justify-center">
        <img src="/images/fighters/big/{{ fighters[0] }}.webp" alt="boxeador {{ fighters[0] }}" class="h-45 sm:h-50 md:h-55 lg:h-60 mask-fade-bottom">
      </div>
      <div class="relative w-[20%] flex justify-center -rotate-3 z-1">
        <img src="/images/fighters/text/{{ fighters[1] }}.webp" alt="boxeador {{ fighters[1] }}" class="absolute h-5 top-20 max-w-none">
        <img src="/images/versus.webp" alt="versus" class="w-full">
        <img src="/images/fighters/text/{{ fighters[0] }}.webp" alt="boxeador {{ fighters[0] }}" class="absolute h-5 -top-15 max-w-none">
      </div>
      <div class="w-[40%] flex justify-center">
        <img src="/images/fighters/big/{{ fighters[1] }}.webp" alt="boxeador {{ fighters[1] }}" class="h-45 sm:h-50 md:h-55 lg:h-60 mask-fade-bottom">
      </div>
    </div>
  </div>    
</div>